@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Luxury design tokens */
  --obsidian: #030712;
  --abyssal: #060b19;
  --cryo: #00f0ff;
  --laser: #3b82f6;
  --chrome: #e2e8f0;

  --background: var(--obsidian);
  --foreground: var(--chrome);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
